@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 48px
    &-menu
      justify-content: space-around
      padding: 21px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .breadcrumb
    &-list
      padding: 20px 0
  .hotel
    padding: 20px 0 20px
    &-info
      &__name
        margin: 5px 0 0
      &__description
        margin: 0
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 97%
  .navbar
    &-top
      padding: 30px 0
    &-menu
      justify-content: space-around

@media (max-width: 660px)
  .container
    max-width: 480px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      justify-content: flex-between
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0 5px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin: 10px 0 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
@media (max-width: 320px)
  .container
    width: 280px
  .logo
    width: 99px
  .navbar
    &-top
      padding: 24px 0
  .breadcrumb
    &-list
      padding: 22px 0
  .hotel
    padding: 0 0 33px
    &-info
      &__name
        margin: 10px 0 0
      &__offer
        margin-top: 1px
      &__description
        margin: 0
  .stars
    margin-right: 15px
@media (max-width: 285px)
  .container
    width: 95%
